#tableOfContentsDiv {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(240,240,240,0.8);
  max-width: 20%;
  min-width: 100px;
  font-size: 1rem !important;
  overflow-y: auto;
  height: 100%;
  z-index: 9999;
}
