body {
  min-width: 10rem;
  text-align: center;
  background-color: #131419;
}

button {
  background-color: transparent; /* Green */
  border: 1px solid #f8f8f8;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;

  display: block;
  margin: 1rem auto;
  padding: 0.25rem 0.5rem;
  min-width: 8rem;
}

button:hover {
  background-color: #21222c;
}
